.social-networks {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__link {
    margin-left: 2.5rem;
    color: var(--color-black);
    font-size: 1.5rem;

    &:first-child {
      margin-left: 0;
    }

    @media (max-width: 478px) {
      margin-left: 1.5rem;
    }
    @media (max-width: 374px) {
      margin-left: 1rem;
    }
    @media (max-width: 350px) {
      margin-top: 1.5rem;
      margin-left: 2.5rem;
    }
  }
}
