.stories-carousel {
  flex: 1;
  display: flex;
  cursor: grab;
  border-radius: 25px;
  overflow: hidden;
  z-index: 1;

  &.show-before-tablet {
    @media (max-width: 980px) {
      display: none;
    }
  }

  &.show-after-laptop {
    display: none;

    @media (max-width: 980px) {
      display: flex;
    }
  }

  &__item {
  }
}

.react-multi-carousel-track {
  height: 100%;
}
