// normalize.css
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
// fonts
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Raleway:wght@400;800&display=swap");

:root {
  // fonts
  --font-title: "Raleway", sans-serif;
  --font-main: "Lato", sans-serif;
  // unique palette
  --color-details: rgb(58, 82, 226);
  --color-details-lighter: rgb(175, 191, 235);
  // indicators
  --color-danger: red;
  --color-warning: orange;
  --color-info: blue;
  --color-success: green;
  // default colors
  --color-white: rgb(255, 255, 255);
  --color-black: rgb(10, 10, 32);
  --color-gray: rgb(83, 83, 93);
  --color-gray-lighter: rgb(151, 148, 163);
  --color-light-gray: rgb(235, 235, 242);
  // animations
  --default-transition: 0.5s;
}

body {
  min-height: 100vh;
  font-family: var(--font-main);
  background: url("/Assets/Stories/Background1.jpeg") center / cover no-repeat;

  @media (max-width: 355px) {
    background: var(--color-white);
  }
}

.form-field {
  padding: 0.5rem;
  font-size: 1rem;
  border: none;
  border-bottom: 2px solid var(--color-light-gray);
  transition: var(--default-transition);
  box-shadow: none;
  background: var(--color-white);

  &:focus {
    outline: none;
    border-color: var(--color-details);
  }

  &:hover {
    border-color: var(--color-details);
  }

  &:not(:focus):not(:placeholder-shown).valid {
    // apply styles when (!focused && valid)
    border-color: var(--color-success);
  }

  &.invalid {
    border-color: var(--color-danger);
  }

  &.untouched {
  }
}
